@import "_mixins";
@import "_variables";
@import "_reset";

@media screen and (max-width:1364px) and (min-width: 1024px) {



body{
  header{
  .img-header{
    a{
      img{
        width: 100%;
        height: auto;
        }
      }
    }
      nav{
        ul{
          list-style-type: none;
          justify-content: space-around;
          display: flex;
          width: 100%;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: white;
          li{
            float: left;
            a{
              display: block;
              padding: 14px 16px;
              color: black;
              text-align: center;
              text-decoration: none;
              font-size: 24px;
              &:hover{
                color: #0cff00;
              }
          }
        }
      }
    }
  }
}
footer{
  text-align: center;
}






}
